.sc-emDrdl,
.sc-gFSPHw .video-panel-sidebar{
  /*display:none!important;*/
 }
.video-container .video-panel .video-panel-content{
  /*width:100%!important;*/
}
.content-wrapper{
  padding: 65px 0px 0px;
}
.sc-emDrdl.jtIXSk{
  padding:0;
}
.sc-gFSPHw.gDaHWX.video-panel{
  margin:0!important;
}
.sc-gFSPHw.gqvlNk.video-panel{
  margin-left:0!important;
}
